:root {
  --normal-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  --hover-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  --rounded-border: 10px;
  --todo-card-background-color: radial-gradient(#1fe4f5, #3fbafe);
  --page-color: #b2bdd1;
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.third-width {
  width: 33%;
}

.two-thirds-width {
  width: 67%;
}

.third-height {
  height: 33%;
}

.two-thirds-height {
  height: 67%;
}

.max-height {
  height: 100%;
}

.max-width {
  width: 100%;
}

.text-icon {
  margin-right: 4px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.white {
  color: white;
}

.green {
  color: green;
}

.red {
  color: red;
}

.double-font {
  font-size: 2em;
}

.margin-top {
  margin-top: 1em;
}

.padding1 {
  padding: 1em;
}

.beautiful-button,
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: var(--rounded-border);
  box-sizing: border-box;
  box-shadow: var(--normal-shadow);
}

.todo-statistic {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  width: 50%;
}

.input-group {
  display: flex;
  align-items: center;
}

#selected-todo-header,
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.reverse-flex {
  flex-direction: row-reverse;
}

.todo-card {
  padding: 1em;
  border-radius: var(--rounded-border);
  box-shadow: var(--normal-shadow);
  transition: all 0.2s;
  background: var(--todo-card-background-color);
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
}

.todo-card:hover {
  box-shadow: var(--hover-shadow);
  filter: brightness(1.05);
  transform: scale(1.01);
}

.todo-title {
  font-weight: 500;
  font-size: 200%;
}

.todo-description {
  font-weight: 300;
  overflow: hidden;
}

.beautiful-button {
  border-radius: var(--rounded-border);
  border-style: none;
  color: white;
  cursor: pointer;
  height: 3em;
  width: 7em;
  padding: 1em;
  transition: color 100ms;
  box-shadow: var(--normal-shadow);
  transition: all 0.2s;
}

.beautiful-button:hover {
  filter: brightness(1.05);
  box-shadow: var(--hover-shadow);
  transform: scale(1.01);
}

.add-todo-input-label {
  font-size: 1.5rem;
  margin-left: 1rem;
  transition: all 0.4s;
  transform: translateX(0rem);
  color: slateblue;
  font-weight: 700;
}

.add-todo-input {
  background-color: transparent;
  color: black;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: var(--rounded-border);
  transition: all 0.4s;
  box-shadow: var(--normal-shadow);
  box-sizing: border-box;
  border: none;
}

.add-todo-input:placeholder-shown + .add-todo-input-label {
  visibility: hidden;
  transform: translateX(-4rem);
}

/* Page Sections */

#selected-todo-and-add-todo-section {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Selected ToDo */

#selected-todo-section {
  box-sizing: border-box;
  padding: 1em;
  box-shadow: var(--normal-shadow);
  border-radius: var(--rounded-border);
  margin: 1em;
}

#empty-selected-todo {
  font-size: 3rem;
  color: rgb(113, 118, 137);
  text-align: center;
  display: none;
}

#selected-todo-header {
  height: 10%;
  box-sizing: border-box;
  border-radius: var(--rounded-border);
  padding: 1em;
}

#selected-todo-description {
  height: 70%;
  box-sizing: border-box;
  border-radius: var(--rounded-border);
  padding: 1em;
  overflow-y: auto;
  margin: 0;
}

#selected-todo {
  background: none;
  flex-direction: column;
  cursor: default;
  background-position: center;
  background-size: cover;
  height: 100%;
}

#selected-todo:hover {
  box-shadow: var(--normal-shadow);
  transform: none;
}

#complete-todo-button,
#restore-todo-button {
  background-color: #992be3;
}

#delete-todo-button {
  background-color: #f23b81;
}

/* ToDo List */

#todos-section {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

#todo-list-section {
  height: 86%;
  margin: 0;
  padding: 0;
  box-shadow: var(--normal-shadow);
  border-radius: var(--rounded-border);
}

#todo-list {
  overflow-y: auto;
  margin: 0;
  padding: 0;
  height: 100%;
}

#empty-list {
  font-size: 2rem;
  color: rgb(113, 118, 137);
  text-align: center;
  display: none;
}

/* List Statistics */

#todo-list-statistics {
  height: 12%;
  box-shadow: var(--normal-shadow);
  border-radius: var(--rounded-border);
  display: flex;
}

/* Add ToDo */

#add-todo-section {
  box-sizing: border-box;
  box-shadow: var(--normal-shadow);
  margin: 1em;
  border-radius: var(--rounded-border);
  margin-top: 0;
}

#add-todo-image {
  max-height: 6em;
}

#image-upload-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#add-todo-image-input-label {
  width: 10em;
  height: 1em;
  color: darkslategray;
}

#add-todo-title {
  width: 40%;
}

#add-todo-button {
  background-color: green;
}

#clear-image-button {
  background: none;
  color: red;
  height: 3em;
  width: 5em;
}

main {
  height: 100vh;
}

h1 {
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--page-color);
  font-family: var(--font);
  box-sizing: border-box;
}

input,
textarea {
  font-family: var(--font);
}

input[type='file'] {
  display: none;
}
